* { 
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

::-webkit-input-placeholder {
    color: #666666;
}
:-moz-placeholder {
    color: #666666;
}
::-moz-placeholder {
    color: #666666;
}
:-ms-input-placeholder {
    color: #666666;
}

body {
	background-color: black;
}

header {
	margin-top: 70px;
	margin-bottom: 80px;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 60px;
	color: white;
}

li {
	font-family: 'Raleway', Arial, sans-serif;
	font-weight: 500;
	height: 60px;
	padding: 22px 16px;
	font-size: 16px;
}

input {
	outline: none;
	margin: 0px;
}

form {
	margin: 0px;
}

#container {
	width: 850px;
	height: 100%;
	margin: 0px auto;
}

.shoppinglist {
	float: left;
	width: 500px;
}

.additem {
	position: relative;
}

.additem img {
	position: absolute;
	top: 50%;
	margin-top: -6px;
	left: 21px;
}

.addtext {
	width: 500px;
	background-color: #d4eef9;
	border: none;
	width: 100%;
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 16px;
	padding: 22px 16px 22px 38px;
	color: #666666;
}

.lipositionone {
	color: white;
	background-color: #29ABE2;
}

.lipositiontwo {
	color: white;
	background-color: #3EB3E5;
}

.lipositionthree {
	color: white;
	background-color: #54BCE8;
}

.lipositionfour {
	color: white;
	background-color: #69C4EB;
}

.licompleteditem {
	position: relative;
	text-decoration: line-through;
	color: #999999;
	background-color: #333333;
	margin: 1px 0px;
}

.licompleteditem img {
	position: absolute;
	width: 16px;
	top: 50%;
	margin-top: -8px;
	right: 24px;
}